*{
margin: 0%;
padding: 0%;
box-sizing: border-box;

}







.introvedio{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 9999;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
      transition: 3s ease-out;
}
.introvedio video{
    width: 100%;
    height: 100%;
   
}
.main{
background-color: rgb(241, 242, 238);
  
  width: 100%;
  height: auto;
min-height: 100vh;


  z-index: 200;





}


.nav{
    width: 100%;
    height: 4.5rem;
    background-color:transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
  

    border-radius: 20px;
    
 
}
.nav img{
    height: 7rem;
    width: 7rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    z-index: 110;
}

.menu ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    border-bottom: black;
    
}
.menu ul li a{
text-decoration: none;
color: rgb(22, 22, 22);
font-weight: 600;
font-size: 2.3rem;


}
.con{
display: none;
}
.th{
  display: none;
  justify-content: space-between;
  width: 30px;
  height: 22px;
  cursor: pointer;
  z-index: 4000;
gap: 2.2px;
margin-left: 5rem;
}

#click{
    opacity: 0;
}

.home{
    color: rgb(18, 216, 190);
    border-bottom: 2px solid rgb(216, 120, 18);
}
.menu ul li a:hover{
    color: rgb(18, 216, 190);
    transition: 0.3s;
    border-bottom: 2px solid rgb(216, 120, 18);
    
}
.po{
width: 100vw;
height: 100vh;

display: flex;
align-items: center;
justify-content: center;
}
.po h2{
font-size: 3rem;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-weight: 600;

}
.content{
width: 100vw;
overflow: hidden;

height: auto;
display: grid;

text-align: center;

}
.por{
    font-size: clamp(4rem, 15vw, 20rem); /* bada aur responsive font size */
  color: transparent;
  
  -webkit-text-stroke: 1.6px rgba(59, 61, 61, 0.831); /* thoda bold stroke */
  margin-bottom: 6rem;
  
  opacity: 0.5;
  
}


 



.toggle-btn{
  position: absolute;
  top: 5rem;
  right: 1rem;
  padding: 0.5rem 0.5rem;
  background-color: #222;
  color: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  }

.menu{

  margin-right: 2rem;
}

.circlegroup{
width: 50%;
height: 30%;
position: absolute;
top: 50%;
left: 50%;

display: flex;
align-items: center;
justify-content: center;
 transform: translate(-50%, -50%);

}
.circle{

width: 6%;
height: 4vh;
border-radius: 50%;

background-color: transparent;
transition: all 1.4s ease;
}

.circlegroup.spread .circle:nth-child(1) {
  background-color: aqua;
  transform: translate(-130px, -100px) scale(0.8); opacity: 0.7;
}
.circlegroup.spread .circle:nth-child(2) {
  background-color: rgb(220, 189, 31);
  transform: translate(-100px, -170px) scale(0.8);
}
.circlegroup.spread .circle:nth-child(3) {
  background-color: rgb(187, 118, 208);
  transform: translate(60px, 170px) scale(0.8);
}
.circlegroup.spread .circle:nth-child(4) {
  background-color: rgb(71, 238, 10);
  transform: translate(120px, 70px) scale(0.8);
}
.circlegroup.spread .circle:nth-child(5) {
  background-color: rgb(207, 12, 126);
  transform: translate(-100px, 290px) scale(0.8);
}
.circlegroup.spread .circle:nth-child(6) {
  background-color: rgb(255, 77, 0);
  transform: translate(40px, -200px) scale(0.8);
}
.circlegroup.spread .circle:nth-child(7) {
  background-color: rgb(219, 237, 56);
  transform: translate(200px, -70px) scale(0.8);
}
.circlegroup.spread .circle:nth-child(8) {
  background-color: rgb(0, 255, 233);
  transform: translate(-220px, 160px) scale(0.8);
}
.circlegroup.spread .circle:nth-child(9) {
  background-color: rgb(199, 247, 109) scale(0.8);
  transform: translate(180px, -180px);
}
.circlegroup.spread .circle:nth-child(10) {
  background-color: rgb(156, 76, 76);
  transform: translate(-250px, -30px) scale(0.8);
}
.circlegroup.spread .circle:nth-child(11) {
  background-color: rgb(26, 210, 149);
  transform: translate(90px, 250px) scale(0.8);
}
.circlegroup.spread .circle:nth-child(12) {
  background-color: rgb(0, 180, 255);
  transform: translate(-180px, 260px) scale(0.8);
}
.circlegroup.spread .circle:nth-child(13) {
  background-color: rgb(255, 120, 0);
  transform: translate(100px, 100px) scale(0.8);
}
.circlegroup.spread .circle:nth-child(14) {
  background-color: rgb(15, 36, 30);
  transform: translate(-200px, 150px) scale(0.8); opacity: 0.7;
}


  
  

@media (max-width: 770px) {
.circlegroup{
top:37%;

}
.circle{
width: 12vw;
height: 3vh;

}
.po{
display: flex;
align-items: center;
justify-content: center;
height: 45vh;

}
.po h2{
font-size: 1.4rem;

}
.content{
    position: relative;
    top:10rem ;}
    .por{
        font-size: clamp(2rem, 21vw, 9rem);
        color: transparent;
  -webkit-text-stroke: 1px rgba(119, 122, 122, 0.835); 
  
    }
  
    .menu ul{
    background-color: rgb(201, 199, 198);
    width: 100%;
    height: 80%;
        position: absolute;
        top: -100%;
        left: 0%;
        flex-direction: column;
        gap: 1.5rem;  
        z-index: 2;
         transition: top 1.5s ease;
         border-radius: 10px;
         
          backdrop-filter: blur(10px);          /* Blur effect */
    -webkit-backdrop-filter: blur(10px);
    }


 .img{

  width: 2rem;
  height: 2rem;}
    .con{
display: block;
width: 10rem;
height: 4rem;
border: 2px solid rgb(15, 16, 16);
background-color: transparent;
border-radius: 10px;
font-size: 1.2rem;
  font-weight: 700;

}
/*jsasA*/
.con:hover{
  font-size: 1.2rem;
  font-weight: 700;
  transition: 0.5s ease-in-out;
  background-color: rgb(183, 189, 186);
}
    .bar {
  height: 2rem;
  width: 20%;
  background-color: rgb(0, 0, 0);
  border-radius: 5px;
  transition: 0.4s;
}
  #click:checked ~.menu ul{
 
    top: -1%;

}


    .th{
        display: flex;
        position: absolute;
        left: 38rem;
        font-size: 2rem;
        transform: rotate(90deg);
        
        
    }
    .menu ul{

    gap: 3rem;}

    

   .menu ul li a{
    font-size: 2rem;
    
    
    
    }
   .toggle-btn{
    top: 5rem;
    right: 1rem;
   }}
  /* MOBILE FRIENDLY CIRCLES */
@media (max-width: 600px) {

  .circle {
    width: 10%;        /* size reduce */
    height: 3.5vh;     /* height reduce */
    transition: all 1s ease;
  }

  .circlegroup.spread .circle:nth-child(1) {
    transform: translate(-70px, -60px) scale(0.7);
  }

  .circlegroup.spread .circle:nth-child(2) {
    transform: translate(-60px, -110px) scale(0.7);
  }

  .circlegroup.spread .circle:nth-child(3) {
    transform: translate(40px, 120px) scale(0.7);
  }

  .circlegroup.spread .circle:nth-child(4) {
    transform: translate(70px, 40px) scale(0.7);
  }

  .circlegroup.spread .circle:nth-child(5) {
    transform: translate(-60px, 180px) scale(0.7);
  }

  .circlegroup.spread .circle:nth-child(6) {
    transform: translate(30px, -130px) scale(0.7);
  }

  .circlegroup.spread .circle:nth-child(7) {
    transform: translate(120px, -40px) scale(0.7);
  }

  .circlegroup.spread .circle:nth-child(8) {
    transform: translate(-140px, 100px) scale(0.7);
  }

  .circlegroup.spread .circle:nth-child(9) {
    transform: translate(30px, -120px) scale(0.7);
  }

  .circlegroup.spread .circle:nth-child(10) {
    transform: translate(-80px, -20px) scale(0.7);
  }

  .circlegroup.spread .circle:nth-child(11) {
    transform: translate(60px, 160px) scale(0.7);
  }

  .circlegroup.spread .circle:nth-child(12) {
    transform: translate(-120px, 170px) scale(0.7);
  }

  .circlegroup.spread .circle:nth-child(13) {
    transform: translate(40px, 60px) scale(0.7);
  }

  .circlegroup.spread .circle:nth-child(14) {
    transform: translate(-130px, 100px) scale(0.7);
  }
}

  @media (max-width:500px) {

    .th{
        display: flex;
        position: absolute;
        left: 60%;
        font-size: 2rem;
        transform: rotate(90deg);
       
        
    }
  



  
  

  
  
  }/*about sectin start from here*/
    .about{
  width: 100%;
height: auto;
min-height: 100vh;
background-color: rgb(241, 242, 238);
text-align: center;
  
  }
  .box1{
  max-width: 100%;
  height: 50%;
  gap: 2rem;
 flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  }
  .part1{
  width: 26rem;
  background-image: url("./images/sachin.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30rem;
  border-radius: 50%;
  animation: cards1 5s ease-in-out forwards;;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
  
  }
   .part2{
  width: 50rem;
  height: 40vh;

 
  margin-top: 0rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  animation: cards 5s ease-in-out forwards;;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
  }
  .part2 h2{
  
  color: black /* thoda bold stroke */
  
  
  }
  
  .part2 .move{
  position: absolute;
  width: 7rem;
  height: 7rem;
  border:2px solid #222;
  border-radius: 50%;
    transform: translate(-50%, -50%);  /* center adjust */
  transition: opacity 0.2s ease;
opacity: 0;
    
    z-index: 6;
}



 /* ============================
   ABOUT SECTION – FIXED VERSION
   ============================ */
.box2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;      /* <-- IMPORTANT */
  gap: 2rem;
  padding: 20px;
}

.img1 {
  flex: 1 1 200px;      /* <-- images wrap karenge */
  display: flex;
  justify-content: center;
  animation: cards2 5s ease-in-out forwards;;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.img1 img {
  width: 16rem;
  height: 16rem;
  border-radius: 10px;
  transition: 0.3s ease;
}

.img1 img:hover {
  transform: scale(1.15);
  box-shadow: 0 0 20px cyan, 0 0 40px cyan;
}

/* ============================
   RESPONSIVE MEDIA QUERIES
   ============================ */

/* Tablet screens */
@media (max-width: 768px) {
  .img1 img {
    width: 12rem;
    height: 12rem;
  }
  
}

/* Mobile screens */
@media (max-width: 500px) {
  .box2 {
    flex-direction: column; /* <-- Column in small screens */
    gap: 1.5rem;
  }

  .img1 img {
    width: 8rem;
    height: 8rem;
  }
}

/*porjects sectionstart from here */
.projects{
width: 100%;
height: auto;
min-height: 100vh;
background-color: rgb(241, 242, 238);
text-align: center;
}

.probig{
width: 100%;
height: 90vh;
background-color: rgb(241, 242, 238);
display: flex;
align-items: center;
justify-content: space-between;
overflow: hidden;
animation: cards2 5s ease-in-out forwards;;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;

}
.pro{
width: auto;
display: flex;
margin-left: 3rem;
gap: 2REM;
  /* ✔ vertical scrolling */
  overflow-x: hidden; 


}
.h111{
animation: cards2 5s ease-in-out forwards;;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}
.p2{
animation: cards2 5s ease-in-out forwards;;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}
.card2{
 border-radius: 10px;
width: 20rem;
display: grid;
align-items: center;
height: 20rem;
background-color: rgb(219, 216, 216);
box-shadow: 3px 4px 8px black;

}
.pro2 {
  width: auto;
  display: flex;
  margin-right: 3rem;
  gap: 2rem;
  overflow-y: auto;   /* ✔ vertical scrolling */
  overflow-x: hidden; 

  
}

.card3 {
  display: grid;
  place-items: center;
  width: 20rem;
  height: 20rem;
  background-color: rgb(219, 216, 216);
  border-radius: 10px;
  box-shadow: 3px 4px 8px black;
}





@media (max-width:700px) {
  .pro{
  flex-direction: column;
margin-left: 0rem;
  }
  .p2{
  padding-top: 1.2rem;
  }
  .pro2{
  flex-direction: column;
  margin-right: 0rem;

  }
 .probig{
 flex-direction: column;
 gap: 2rem;
 }
 
}

/*contact section start from here*/
.contact {
  width: 100%;
  min-height: 100vh;
  background-color: rgb(241, 242, 238);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 2rem 0;
}



/* RIGHT BOX (FORM) */
.con-box {
  width: 100%;
  padding: 2rem;
  z-index: 2;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 8px rgba(0,0,0,0.15);  /* Soft shadow */
  border-radius: 10px;

  display: grid;
  grid-template-columns: 1fr; /* Single column */
  place-items: center;

  background-color: #f3f3f3;   /* Light grey, no dark */
  max-height: 450px;           /* IMPORTANT — limit height */
   
  animation: cards2 5s ease-in-out forwards; animation-timeline: view(); animation-range: entry 0% cover 40%;/* Vertical scroll */
}


.info {
  display: grid;
  width: 100%;
  gap: 0.6rem;
   
}

.con-box h2 {
  text-align: center;
  padding-bottom: 1rem;
  color: transparent;
  -webkit-text-stroke: 1.3px rgba(59, 61, 61, 0.831);
}
.info2{
width: 100%;
display: flex;
align-items: center;
justify-content: center;

}
.con-box button {
  width: 7rem;
  height: 5vh;
  border: none;
  border-radius: 12px;
  background: linear-gradient(135deg, #1f1f1f, #353535, #212121);
  color: #eaeaea;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.5px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
  transition: all 0.3s ease-in-out;
}

.con-box button:hover {
  background: linear-gradient(135deg, #3b3b3b, #4a4a4a, #2d2d2d);
  transform: scale(1.07);
  box-shadow: 0 0 15px rgba(0, 255, 255, 0.4);
  color: #00f7ff;
  font-weight: 600;
}

.con-box input {
  width: 100%;
  height: 3rem;
  border-radius: 10px;
  border-bottom: 2px solid black;
  background: transparent;
  text-align: left;
  font-size: 18px;
  padding: 0.5rem 1rem;
}

#info3 {
  height: 4rem;
}

/* Hover FIX (scale problem remove) */
.con-box:hover {
  transform: none;
}

/* RESPONSIVE */
@media (max-width: 791px) {
  .big,
  .con-box {
    width: 85%;
  }
}

@media (max-width: 480px) {
  .big,
  .con-box {
    width: 90%;
  }

  .con-box input {
    height: 2.7rem;
    font-size: 16px;
  }

  .con-box button {
    height: 2.3rem;
  }
}


@keyframes cards {
  from {
   transform: translateX(260px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes cards1 {
  from {
   transform: translateX(-260px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }}
  @keyframes cards2 {
  from {
   scale:0.4;
    opacity: 0;
  }
  to {
    scale:1;
    opacity: 1;
  }}
  @keyframes cards3 {
  from {
   transform: translateX(-260px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }}