*{
margin: 0%;
padding: 0%;
box-sizing: border-box;

}
nav, header, .th {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
  width: 100%;
  background-color: #4d4c4c;
  overflow-x: hidden;
  overflow-y: auto;
}
.introvedio{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 9999;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
      transition: 3s ease-out;
}
.introvedio video{
    width: 100%;
    height: 100%;
   
}
.main{
background-color: rgb(249, 236, 236);
  
  width: 100vw;
  height: 100vh;


  z-index: 200;





}
.main video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;   /* fill area without distortion */
  object-position: center; /* keeps center part visible */
  z-index: -1;
  filter: brightness(60%);
  
}

.nav{
    width: 100%;
    height: 4.5rem;
    background-color:transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
  

    border-radius: 20px;
    
 
}
.nav img{
    height: 7rem;
    width: 7rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    z-index: 110;
}

.menu ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    border-bottom: black;
    
}
.menu ul li a{
text-decoration: none;
color: rgb(22, 22, 22);
font-weight: 600;
font-size: 5px;


}
.con{
display: none;
}
.th{
  display: none;
  justify-content: space-between;
  width: 30px;
  height: 22px;
  cursor: pointer;
  z-index: 4000;
gap: 2.2px;
margin-left: 5rem;
}

#click{
    opacity: 0;
}

.home{
    color: rgb(18, 216, 190);
    border-bottom: 2px solid rgb(216, 120, 18);
}
.menu ul li a:hover{
    color: rgb(18, 216, 190);
    transition: 0.3s;
    border-bottom: 2px solid rgb(216, 120, 18);
    
}
.content{
width: 100vw;
overflow: hidden;

height: auto;
display: grid;
margin: 12% 0%;
text-align: center;

}
.por{
    font-size: clamp(4rem, 15vw, 20rem); /* bada aur responsive font size */
  color: transparent;
  
  -webkit-text-stroke: 1.6px rgba(59, 61, 61, 0.831); /* thoda bold stroke */
  margin-bottom: 6rem;
  
  opacity: 0.5;
  
}


 



.toggle-btn{
  position: absolute;
  top: 5rem;
  right: 1rem;
  padding: 0.5rem 0.5rem;
  background-color: #222;
  color: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;}

.menu{

  margin-right: 2rem;
}


  


  
  
  
  @media (max-width:1450px) {
    .menu{
  margin-left: 15rem;
      
    }
  }
@media (min-width: 1400px) {
  .menu ul{
    gap: 12rem;
    
  }
  .menu ul li a{
    font-size: 1.8rem;
  
  
  }}
  @media (max-width:1030px) {
  .menu ul li a{
    font-size: 1.4rem;
  
  
  }
  .toggle-btn{
  top: 5rem;
  }
}
@media (max-width: 770px) {
.content{
    margin: 34% 0%;}
    .por{
        font-size: clamp(3rem, 23vw, 10rem);
        color: transparent;
  -webkit-text-stroke: 1px rgba(119, 122, 122, 0.835); 
  
    }
   .main video {

position: absolute;
top: -2.2rem;


   }
    .menu ul{
    background-color: rgb(201, 199, 198);
    width: 100%;
    height: 80vh;
        position: absolute;
        top: -100%;
        left: 0%;
        flex-direction: column;
        gap: 1.5rem;  
        z-index: 2;
         transition: top 1.5s ease;
         border-radius: 10px;
         
          backdrop-filter: blur(10px);          /* Blur effect */
    -webkit-backdrop-filter: blur(10px);
    }
.main video {


height: 100vh

}

 .img{

  width: 2rem;
  height: 2rem;}
    .con{
display: block;
width: 10rem;
height: 4rem;
border: 2px solid rgb(15, 16, 16);
background-color: transparent;
border-radius: 10px;
font-size: 1.2rem;
  font-weight: 700;

}
.con:hover{
  font-size: 1.2rem;
  font-weight: 700;
  transition: 0.5s ease-in-out;
  background-color: rgb(183, 189, 186);
}
    .bar {
  height: 2rem;
  width: 20%;
  background-color: rgb(0, 0, 0);
  border-radius: 5px;
  transition: 0.4s;
}
  #click:checked ~.menu ul{
 
    top: -2%;

}


    .th{
        display: flex;
        position: absolute;
        left: 38rem;
        font-size: 2rem;
        transform: rotate(90deg);
        
        
    }
    .menu ul{
    gap: 2rem;}
   .menu ul li a{
    font-size: 2rem;
    
    
    
    }
   .toggle-btn{
    top: 5rem;
    right: 1rem;
   }
  }
  @media (max-width:430px) {
    .th{
        display: flex;
        position: absolute;
        left: 16rem;
        font-size: 2rem;
        transform: rotate(90deg);
        margin-right: 01.1rem;
        
    }
  
    .por{
         position: absolute;
    top: 28rem;
      left:4vw;
    
    }
   

@media (max-width:320px) {
  .th{
      display: flex;
      position: absolute;
      left: 12rem;
      font-size: 2rem;
      transform: rotate(90deg);
      margin-right: 01.1rem;
      
  }
  .por{
  position: absolute;
    top: 35%;
  }
 
   




  }
  /*about sectin start from here*/
  
  .about{
  width: 100vw;
  height: 100vh;
  background-color: aqua;
  }
  
  
