*{
margin: 0%;
padding: 0%;
box-sizing: border-box;

}
nav, header, .th {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
  width: 100%;
  background-color: #4d4c4c;
  overflow-x: hidden;
  overflow-y: auto;
}
.introvedio{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 9999;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
      transition: 3s ease-out;
}
.introvedio video{
    width: 100%;
    height: 100%;
   
}
.main{
background-color: rgb(249, 236, 236);
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 200;





}
.main video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;   /* fill area without distortion */
  object-position: center; /* keeps center part visible */
  z-index: -1;
  filter: brightness(60%);
}

.nav{
    width: 80%;
    height: auto;
    background-color:transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2%;
    margin: 0% 10% ;
    border-bottom: 2px solid rgb(18, 216, 190);
    border-radius: 20px;
    position: static;
 
}
.nav img{
    height: 7rem;
    width: 7rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    z-index: 110;
}
.menu ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    
}
.menu ul li a{
text-decoration: none;
color: rgb(22, 22, 22);
font-weight: 600;
font-size: 1.2rem;
}
.con{
display: none;
}
.th{
    display: none;
  justify-content: space-between;
  width: 30px;
  height: 22px;
  cursor: pointer;
  z-index: 200;
gap: 2.2px;    
}

#click{
    opacity: 0;
}

.home{
    color: rgb(18, 216, 190);
    border-bottom: 2px solid rgb(216, 120, 18);
}
.menu ul li a:hover{
    color: rgb(18, 216, 190);
    transition: 0.3s;
    border-bottom: 2px solid rgb(216, 120, 18);
    
}
.content{
width: 100vw;
overflow: hidden;

height: auto;
display: grid;
margin: 12% 0%;
text-align: center;

}
.por{
    font-size: clamp(4rem, 15vw, 20rem); /* bada aur responsive font size */
  color: transparent;
  
  -webkit-text-stroke: 1.6px rgba(59, 61, 61, 0.831); /* thoda bold stroke */
  margin-bottom: 6rem;
  opacity: 0.5;
  
}


 

.imgbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding: 2rem;
}
.imgbox img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.6;
  transition: all 0.4s ease;
}
.imgbox img:hover {
  transform: scale(1.2);
  opacity: 1;
}
@media (min-width:770px) {
  .imgbox{
  gap: 9rem;
  
  }
}
  
@media (min-width:1024px) {
  .imgbox{
  gap: 10rem;
  padding: 6rem;
  
  }
  
}
@media (min-width:1600px) {
  .imgbox{

  gap: 14rem;
  height: 12vh;
}
  
  
  .menu ul li a{
    font-size: 1.5rem;
  
  
  }}
@media (min-width: 1400px) {

  .imgbox{
  gap: 17rem;
  height: 10vh;}
  .menu ul{
    gap: 12rem;
    
  }
  .menu ul li a{
    font-size: 1.8rem;
  
  
  }}
@media (max-width: 430px) {
.content{
    margin: 34% 0%;}
    .por{
        font-size: clamp(3rem, 23vw, 10rem);
        color: transparent;
  -webkit-text-stroke: 1px rgba(119, 122, 122, 0.835); 
    }
   .main video {

position: absolute;
top: -2.2rem;


   }
    .menu ul{
    background-color: rgb(201, 199, 198);
    width: 100%;
    height: 55vh;
        position: absolute;
        top: -100%;
        left: 0%;
        flex-direction: column;
        gap: 1.5rem;  
        z-index: 2;
         transition: top 1.5s ease;
         border-radius: 10px;
         
          backdrop-filter: blur(10px);          /* Blur effect */
    -webkit-backdrop-filter: blur(10px);
    }
.main video {


height: 100vh

}
.imgbox{
 gap: 1.4rem;
 flex-direction: row;}
 .img{

  width: 2rem;
  height: 2rem;}
    .con{
display: block;
width: 5rem;
height: 2rem;
border: 2px solid rgb(101, 103, 103);
background-color: transparent;
border-radius: 10px;

}
.con:hover{
  font-size: 1.2rem;
  font-weight: 700;
  transition: 0.5s ease-in-out;
  background-color: rgb(183, 189, 186);
}
    .bar {
  height: 2rem;
  width: 20%;
  background-color: rgb(0, 0, 0);
  border-radius: 5px;
  transition: 0.4s;
}
  #click:checked ~.menu ul{
 
    top: -2%;

}


    .th{
        display: flex;
        font-size: 2rem;
        
        transform: rotate(90deg);
        
    }
    
   
   
  }
@media (max-width: 380px) {
.imgbox{
 gap: 1rem;
  
}
.content{
padding: 3rem 0rem;
width: 98vw;
height: 23vh;
   
    text-align: center;
    
    }
    .imgbox{
    padding: 4rem 0rem;
    gap: 1.6rem;}
   img{
    width: 3.6rem;
    height: 3.6rem;
   } 

}